@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    color: #262626;
    font-family: Roboto Mono, sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 80px;
    min-height: 100vh;
    background-color: #F5F5F5;
}

.body-index {
    /*background style*/
    background-image: url('/images/bg-home.png');
    background-size: contain;
    background-position: center;
    width: 100%;
}

/* CONTAINERS ________________________________________ */

.container {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cont-index {
}

.cont-main {
    margin-top: 50px;
    margin-bottom: 100px;
}

.cont-left {
    float: left;
    width: 50%;
    align-items: center;
    vertical-align: middle;
}

.cont-right {
    float: right;
    width: 50%;
    height: 600px;
}

/* NAVIGATION BAR ____________________________________ */

    .navbar {
        background-color: #F5F5F5;
    }

    footer {
        background-color: #F5F5F5;
    }

    .nav-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar-brand {
        color: #262626;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 220px;
        margin-right: 220px;
    }

    .nav-link {
        /* font-size: value; */
        /* font-weight: value; */
        text-transform: uppercase;
    }

        .nav-link:hover {
            font-style: italic;
        }

/* CATALOG ____________________________________________ */

.marquee {
    height: fit-content;
}

.cataglog-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

    .catalog-title-text {
        font-size: 60px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
    }

.catalog-products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    justify-content: space-between;
    /* margin & padding */
    margin-top: 70px;
    margin-bottom: 150px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-self: center;
    /* margin & padding */
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-img {
    object-fit: cover;
    flex-shrink: 0;
    width: 260px;
    height: 250px;
    transition: 0.1s;
    cursor: pointer;
    transform: scale(1.00);
}

    .product-img:hover {
    }

.product-details {
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #FEFEFA;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: transparent;
}

.product-price {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    /* margin & padding */
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
}

.product-album {
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    /* margin & padding */
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.product-artist {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    /* margin & padding */
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.product-type {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    /* margin & padding */
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

/* VIEW PRODUCT ______________________________________ */

hr {
    border: none;
    border-bottom: 1px solid #262626;
}

.img-viewProduct {
    outline: 1px solid #262626;
    width: 560px;
    height: 560px;
}

.addTo-text {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    /* margins & padding */
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
}

#btn-addTo {
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* text */
    color: #262626;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    /* button style */
    background-color: #FEFEFA;
    border: 1px solid #262626;
    border-radius: 0px;
    /* margins & padding */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

    #btn-addTo:hover {
        /* text */
        color: #FEFEFA;
        /* button style */
        background-color: #262626;
        border: 1px solid #262626;
        box-shadow: none;
    }

    #btn-addTo::selection {
        /* text */
        color: #FEFEFA;
        /* button style */
        background-color: #262626;
        border: 1px solid #262626;
        box-shadow: none;
    }

.viewProduct-artist {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    /* margin & padding */
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.viewProduct-album {
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    /* margin & padding */
    margin-top: -5px;
    margin-bottom: 5px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.viewProduct-format {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    /* margin & padding */
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.viewProduct-price {
    font-size: 35px;
    font-weight: 300;
    text-align: left;
    /* margin & padding */
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.viewProduct-description {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    /* margin & padding */
    margin-top: 80px;
    margin-bottom: -5px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 5px;
}

    .viewProduct-descriptionText {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        /* margin & padding */
        margin: 0px;
        padding: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

.viewProduct-itemDetails {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    /* margin & padding */
    margin-top: 15px;
    margin-bottom: -5px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 5px;
}

    .viewProduct-itemDetails-col1 {
        font-size: 14px;
        font-weight: 600;
        text-align: right;
        margin: 0px;
        padding: 1px;
        padding-right: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .viewProduct-itemDetails-col2 {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        margin: 0px;
        padding: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

/* DEFAULT ________________________________________ */

.default-title {
    margin-top: 50px;
    margin-bottom: 0px;
}

    .default-title-text {
        font-size: 60px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
    }

.info-title {
    margin-top: 50px;
    margin-bottom: 0px;
}

.info-title-text {
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}

.browse-text {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    /* margins & padding */
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
}

#btn-browse {
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* text */
    color: #262626;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    /* button style */
    background-color: #FEFEFA;
    border: 1px solid #262626;
    border-radius: 0px;
    /* margins & padding */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

    #btn-browse:hover {
        /* text */
        color: #FEFEFA;
        /* button style */
        background-color: #262626;
        border: 1px solid #262626;
        box-shadow: none;
    }

    #btn-browse::selection {
        /* text */
        color: #FEFEFA;
        /* button style */
        background-color: #262626;
        border: 1px solid #262626;
        box-shadow: none;
    }

/* TEXT ______________________________________________ */

h1 { /* Title */
    font-size: 100px;
    font-weight: 500;
    text-transform: uppercase;
}

h2 { /* Subtitle 1 */
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

h3 {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

h4 {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

p { /* paragraph */
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 1px;
    padding: 0px;
}

/* __________________________________________________ */

.form-control {
    width: 100%;
    align-items: center;
}

    .form-control:hover {
        box-shadow: none;
        outline: none;
    }

    .form-control:active {
        box-shadow: none;
        outline: none;
    }

.col-itemDetails {
    width: auto;
    height: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

    #label {
        padding-right: 15px;
        text-align-last: right;
    }

    #details {
        text-align-last: left;
    }

#btn-shopVinyls {
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* text */
    color: #262626;
    font-size: 65px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    /* button style */
    background-color: #FEFEFA;
    border: 1px solid #262626;
    border-radius: 0px;
    /* margins & padding */
    margin-top: 60px;
    margin-left: 60px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 650px;
}

    #btn-shopVinyls:hover {
        /* text */
        color: #FEFEFA;
        /* button style */
        background-color: #262626;
        border: 1px solid #262626;
        box-shadow: none;
    }

    #btn-shopVinyls::selection {
        /* text */
        color: #FEFEFA;
        /* button style */
        background-color: #262626;
        border: 1px solid #262626;
        box-shadow: none;
    }

#btn-shopCassettes {
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* text */
    color: #262626;
    font-size: 65px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    /* button style */
    background-color: #FEFEFA;
    border: 1px solid #262626;
    border-radius: 0px;
    /* margins & padding */
    margin-top: 60px;
    margin-left: 450px;
    padding-left: 0px;
    padding-right: 0px;
    width: 770px;
}

    #btn-shopCassettes:hover {
        /* text */
        color: #FEFEFA;
        /* button style */
        background-color: #262626;
        border: 1px solid #262626;
        box-shadow: none;
    }

    #btn-shopCassettes::selection {
        /* text */
        color: #FEFEFA;
        /* button style */
        background-color: #262626;
        border: 1px solid #262626;
        box-shadow: none;
    }

#btn-shopCDs {
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* text */
    color: #262626;
    font-size: 65px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    /* button style */
    background-color: #FEFEFA;
    border: 1px solid #262626;
    border-radius: 0px;
    /* margins & padding */
    margin-top: 60px;
    margin-left: 300px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 560px;
}

    #btn-shopCDs:hover {
        /* text */
        color: #FEFEFA;
        /* button style */
        background-color: #262626;
        border: 1px solid #262626;
        box-shadow: none;
    }

    #btn-shopCDs::selection {
        /* text */
        color: #FEFEFA;
        /* button style */
        background-color: #262626;
        border: 1px solid #262626;
        box-shadow: none;
    }

