@page
@model final_project.Pages.AddProductModel
@{
    ViewData["Title"] = "Add Product";
}

<h2> @ViewData["Title"] </h2>

<body>

    <form method="post" enctype="multipart/form-data">

        Type
        <select asp-for=@Model.NewProduct.Type>
            <option value="vinyl"> Vinyl </option>
            <option value="cassette"> Cassette </option>
            <option value="cd"> CD </option>
        </select><br /><br />

        Artist
        <input type="text" asp-for=@Model.NewProduct.Artist required/><br /><br />

        Album
        <input type="text" asp-for=@Model.NewProduct.Album required /><br /><br />

        Cover Art
        <input type="file" name="fileupload" accept=".png, .jpg, .jpeg" /><br /><br />

        Format
        <select asp-for=@Model.NewProduct.Format>
            <option value="LP"> Long Play (LP) </option>
            <option value="EP"> Extended Play (EP) </option>
        </select><br /><br />

        Price
        <input type="number" step=".01" asp-for=@Model.NewProduct.Price required /><br /><br />

        Description
        <textarea asp-for=@Model.NewProduct.Description style="width: 200px;"></textarea></><br /><br />

        Tracks
        <textarea asp-for=@Model.NewProduct.Tracks style="width: 200px;" required></textarea><br /><br />

        Tracks Total
        <input type="number" min="1" value="1" asp-for=@Model.NewProduct.TracksTotal required /><br /><br />

        Sides
        <input type="number" min="1" max="2" value="1" asp-for=@Model.NewProduct.Sides required /><br /><br />

        Release Date
        <input type="date" asp-for=@Model.NewProduct.ReleaseDate /><br /><br />

        Label
        <input type="text" asp-for=@Model.NewProduct.Label required /><br /><br />

        Genre
        <select asp-for=@Model.NewProduct.Genre>
            <option value="rock"> Rock </option>
            <option value="jazz"> Jazz </option>
            <option value="country"> Country </option>
        </select><br /><br />

        @{
            Model.NewProduct.DateAdded = DateTime.Now;
        }

        <input type="submit" value="Add Product" />

    </form>
</body>