@page
@model final_project.Pages.CassettesCatalogModel
@{
    ViewData["Title"] = "Cassette";
}

<body>

    <div class="cont-main">

        <div class="catalog-title">
            <marquee behavior=scroll direction="left" scrollamount="18">
                <h1 id="catalog-title-text">CASSETTES CASSETTES CASSETTES CASSETTES CASSETTES CASSETTES CASSETTES CASSETTES CASSETTES CASSETTES CASSETTES CASSETTES CASSETTES</h1>
            </marquee>
        </div>

        <input type="search" id="search" placeholder="What are you looking for?" />
        <div class="error" style="display: none;">No results found.</div>

        <div class="catalog-products">
            @foreach (var cassette in Model.Cassettes)
            {
                if (cassette.Type == "cassette")
                {
                    <div class="product">
                        <a asp-page="/ViewProduct" asp-route-id=@cassette.ProductID><img class="product-img" src="@cassette.CoverArt" /></a>
                        <div class="product-details">
                            <p class="product-price">Php @cassette.Price.ToString("#,##0.00")
                                <span class="product-actions">
                                    <a asp-page="/Cart" asp-page-handler="Add" asp-route-id=@cassette.ProductID title="Add to cart">+</a>
                                    <a asp-page="/Favorites" asp-page-handler="Add" asp-route-id=@cassette.ProductID title="Add to faves">♡</a>
                                 </span>
                            </p>
                            <p class="product-album">@cassette.Album</p>
                            <p class="product-artist">@cassette.Artist</p>

                        
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#search').on('keyup', function () {
            var dataSearch = $(this).val().toLowerCase();
            $('.product').each(function () {
                var stringData = $(this).text().toLowerCase();
                if (stringData.indexOf(dataSearch) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }

                if ($('.product:visible').length === 0) {
                    $('.error').show();
                } else {
                    $('.error').hide();
                }
            });
        });
    });
</script>