@page
@model final_project.Pages.CassettesCatalogModel
@{
    ViewData["Title"] = "Cassettes Catalog";
}

<body>
    <table>
        <thead>
        <th> Cover Art </th>
        <th> Price </th>
        <th> Album </th>
        <th> Artist </th>
        <th> Type </th>
        <th> Action </th>
        </thead>
        <tbody>
            @foreach (var cassette in Model.Cassettes)
            {
                if (cassette.Type == "cassette")
                {
                    <tr>
                        <td>
                            <a
                                asp-page="/ViewProduct"
                                asp-route-id=@cassette.ProductID>
                                <img
                                    src=@cassette.CoverArt
                                    alt="cover art"
                                    width="150" />
                            </a>
                        </td>
                        <td>@cassette.Price</td>
                        <td>@cassette.Album</td>
                        <td>@cassette.Artist</td>
                        <td>@cassette.Type</td>
                        <td>
                            <a
                                asp-page="/Cart"
                                asp-page-handler="Add"
                                asp-route-id=@cassette.ProductID >
                                <button class="btn btn-primary"> Add to Cart </button>
                            </a>
                        </td>

                        @if (User.HasClaim("Admin", "true"))
                        {
                            <td>
                                <a
                                    asp-page-handler="Edit">
                                        Edit
                                </a>
                                <a
                                    asp-page="/CassettesCatalog"
                                    asp-page-handler="Delete"
                                    asp-route-id=@cassette.ProductID>
                                        Delete
                                </a>
                            </td>
                        }

                    </tr>
                }

            }
        </tbody>
    </table>
</body>
