@page
@model final_project.Pages.Shared.CDsCatalogModel
@{
    ViewData["Title"] = "CD";
}

<body>

    <div class="cont-main">

        <div class="catalog-title">
            <marquee behavior=scroll direction="left" scrollamount="18">
                <h1 id="catalog-title-text">COMPACT DISCS COMPACT DISCS COMPACT DISCS COMPACT DISCS COMPACT DISCS COMPACT DISCS COMPACT DISCS COMPACT DISCS COMPACT DISCS COMPACT DISCS COMPACT DISCS COMPACT DISCS COMPACT DISCS</h1>
            </marquee>
        </div>

        <input type="search" id="search" placeholder="What are you looking for?" />
        <div class="error" style="display: none;">No results found.</div>

        <div class="catalog-products">
            @foreach (var cd in Model.CDs)
            {
                if (cd.Type == "cd")
                {
                    <div class="product">
                        <a asp-page="/ViewProduct" asp-route-id=@cd.ProductID><img class="product-img" src="@cd.CoverArt" /></a>
                        <div class="product-details">
                            <p class="product-price">Php @cd.Price.ToString("#,##0.00")</p>
                            <span class="product-actions">
                                <a asp-page="/Cart" asp-page-handler="Add" asp-route-id=@cd.ProductID title="Add to cart">+</a>
                                <a asp-page="/Favorites" asp-page-handler="Add" asp-route-id=@cd.ProductID title="Add to faves">♡</a>
                            </span>
                            <p class="product-album">@cd.Album</p>
                            <p class="product-artist">@cd.Artist</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#search').on('keyup', function () {
            var dataSearch = $(this).val().toLowerCase();
            $('.product').each(function () {
                var stringData = $(this).text().toLowerCase();
                if (stringData.indexOf(dataSearch) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }

                if ($('.product:visible').length === 0) {
                    $('.error').show();
                } else {
                    $('.error').hide();
                }
            });
        });
    });
</script>