@page
@model final_project.Pages.Shared.CDsCatalogModel
@{
    ViewData["Title"] = "CDs Catalog";
}
<body>
    <table>
        <thead>
        <th> Cover Art </th>
        <th> Price </th>
        <th> Album </th>
        <th> Artist </th>
        <th> Type </th>
        <th> Action </th>
        </thead>
        <tbody>
            @foreach (var cd in Model.CDs)
            {
                if (cd.Type == "cd")
                {
                    <tr>
                        <td>
                            <a asp-page="/ViewProduct" asp-route-id=@cd.ProductID>
                            <img src=@cd.CoverArt alt="cover art" width="150" />
                            </a>
                        </td>
                        <td>@cd.Price</td>
                        <td>@cd.Album</td>
                        <td>@cd.Artist</td>
                        <td>@cd.Type</td>
                        <td>
                            <a asp-page="/Cart"
                               asp-page-handler="Add"
                               asp-route-id=@cd.ProductID>
                               <button class="btn btn-primary"> Add to Cart </button>
                            </a>
                        </td>
                        @if (User.HasClaim("Admin", "true"))
                        {
                            <td>
                                <a
                                    asp-page-handler="Edit">
                                        Edit
                                </a>
                                <a
                                    asp-page="/VinylsCatalog"
                                    asp-page-handler="Delete"
                                    asp-route-id=@cd.ProductID>
                                        Delete
                                </a>
                            </td>
                        }

                    </tr>
                }

            }
        </tbody>
    </table>
</body>