@page
@model final_project.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}

<body>
    <div class="cont-main">
        <div class="default-title">
            <h1 id="checkout-title-text">Checkout</h1>
        </div>

        <form method="post">
            <div class="form-group-row d-flex flex-column">
                <label asp-for=@Model.User.Prefix class="form-label my-2" id="checkoutForm-label" id="checkoutForm-label"></label>
                <select asp-for=@Model.User.Prefix class="form-select" id="checkoutForm-select" disabled>
                    <option value="Mr."> Mr. </option>
                    <option value="Ms."> Ms. </option>
                    <option value="Mrs."> Mrs. </option>
                </select>
                <span asp-validation-for=@Model.User.Prefix class="text-danger"></span>
            </div>

            <div class="form-group-row d-flex flex-column">
                <label asp-for=@Model.User.FirstName class="form-label my-2" id="checkoutForm-label"></label>
                <input asp-for=@Model.User.FirstName class="form-control" id="checkoutForm-textbox" disabled />
                <span asp-validation-for=@Model.User.FirstName class="text-danger"></span>
            </div>

            <div class="form-group-row d-flex flex-column">
                <label asp-for=@Model.User.LastName class="form-label my-2" id="checkoutForm-label"></label>
                <input asp-for=@Model.User.LastName class="form-control" id="checkoutForm-textbox" disabled />
                <span asp-validation-for=@Model.User.LastName class="text-danger"></span>
            </div>

            <div class="form-group-row d-flex flex-column">
                <label asp-for=@Model.User.Address class="form-label my-2" id="checkoutForm-label"></label>
                <input asp-for=@Model.User.Address class="form-control" id="checkoutForm-textbox" disabled />
                <span asp-validation-for=@Model.User.Address class="text-danger"></span>
            </div>

            <div class="form-group-row d-flex flex-column">
                <label asp-for=@Model.User.Email class="form-label my-2" id="checkoutForm-label"></label>
                <input asp-for=@Model.User.Email class="form-control" id="checkoutForm-textbox" disabled />
                <span asp-validation-for=@Model.User.Email class="text-danger"></span>
            </div>

            <div class="form-group-row d-flex flex-column">
                <label asp-for=@Model.User.ContactNumber class="form-label my-2" id="checkoutForm-label"></label>
                <input asp-for=@Model.User.ContactNumber class="form-control" id="checkoutForm-textbox" disabled />
                <span asp-validation-for=@Model.User.ContactNumber class="text-danger"></span>
            </div>

            <div class="form-group-row d-flex flex-column">
                <label asp-for=@Model.ModeOfPayment class="form-label my-2" id="checkoutForm-label">Mode of Payment</label>
                <select asp-for=@Model.ModeOfPayment class="form-select" id="checkoutForm-select">
                    <option value="Online banking"> Online banking </option>
                    <option value="E-wallet"> E-wallet </option>
                    <option value="Cash on delivery"> Cash on delivery </option>
                </select>
                <span asp-validation-for=@Model.ModeOfPayment class="text-danger"></span>
            </div>

            <p class="placeorder-text">
                <input type="submit" class="btn btn-default" id="btn-placeorder" value="Place order >>" />
            </p>

        </form>
        <br />

        @* <button onclick="history.back()" class="btn btn-secondary"> Go back </button> *@
    </div>
</body>