@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<body class="body-index">
    <div class="cont-index">
        <br /><br />
        <h1><a asp-page="/VinylsCatalog" class="btn btn-default" id="btn-shopVinyls"> Shop Vinyls >> </a></h1>
        <br />
        <h1><a asp-page="/CassettesCatalog" class="btn btn-default" id="btn-shopCassettes"> Shop Cassettes >> </a></h1>
        <br />
        <h1><a asp-page="/CDsCatalog" class="btn btn-default" id="btn-shopCDs"> Shop CDs >> </a></h1>
    </div>
</body>
