@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <h1 class="display-4"> TurnTable MNL </h1>
    <h3><a asp-page="/VinylsCatalog"> Shop Vinyls >> </a> </h3>
    <h3><a asp-page="/CassettesCatalog"> Shop Cassettes >> </a> </h3>
    <h3><a asp-page="/CDsCatalog"> Shop CDs >> </a> </h3>
</div>
