<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turntable MNL | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/final_project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-dark mb-3">
                                <div class="container">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between px-4">
                                        <ul class="navbar-nav flex-grow-1 justify-content-center">
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-page="/VinylsCatalog">Vinyl</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-page="/CDsCatalog">CD</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-page="/CassettesCatalog">Cassette</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="navbar-brand" asp-area="" asp-page="/Index">TURNTABLE MNL</a>
                                            </li>
                                            <li class="nav-item" title="Favorites">
                                                <a class="nav-link text-dark" asp-area="" asp-page="/Favorites">Favorites</a>
                                            </li>
                                            <partial name="_LoginStatusPartial" />
                                            <li class="nav-item" title="Orders">
                                                <a class="nav-link text-dark" asp-area="" asp-page="/OrdersList">Orders</a>
                                            </li>
                                            <li class="nav-item" title="Logout">
                                                <a method="post" class="nav-link text-dark" asp-area="" asp-page="Logout">LOGOUT</a>
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="mr-2">

                                    </div>
                                </div>
                            </nav>
                    }
                }


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top border-dark footer text-muted">
        <div class="container">
            <center stye="font-size: 12px; font-weight: 400;">&copy; 2022 Turntable MNL</center>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>